#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.board {
  max-width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  border: 1px solid black;
  background-color: salmon;
  color: inherit;
  width: 100px;
  height: 100px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  border-radius: 0;
}

.visible {
  cursor: default;
}

.A {
  background-color: orangered;
}

.B {
  background-color: bisque;
}

.C {
  background-color: crimson;
}

.D {
  background-color: darksalmon;
}

.E {
  background-color: lightseagreen;
}

.F {
  background-color: fuchsia;
}

.hidden::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: salmon;
}

.turns-wrapper {
  margin: 20px auto;
  background-color: black;
  color: white;
  padding: 20px;
  width: fit-content;
}

.new-game {
  margin-bottom: 20px;
  background-color: pink;
}

.popup {
  border: 1px solid black;
  padding: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
}

.popup:before {
  background-color: black;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.8;
}

.popup .message {
  font-size: 25px;
  z-index: 1;
}

.popup .new-game {
  margin-bottom: 0;
  z-index: 1;
}
